.main-container{
  height: 100vh;
  width: 100%;
}

.input-container{
  height: 28%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}

.card-container{
  padding: 10px;
  display: flex;
}

.card-list{
  display: flex;
  padding-top: 7px;

}